/*BEGIN Categories */
.categories{
    background-color:#428aff;
    height: 60px;
    width: 100%;
    margin-top: 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #008040;
    overflow: hidden;
}
.categories>div{
    width: 11.1%;
    height: 60px;
    float: left;
    font-size: 18px;
    font-style: oblique;
    color: #FFF;
    position: relative;	
}
.category{
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

/*END Categories */
/*BEGIN header fragment*/
.header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.topFragment{

    width: 100%;
    height: 100px;
}

.logoBlock{
    width: 30%;
    height: 100px;
    float: left;	
}

.logoBlock>img{
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
}

.topRightBlock{
    width: 30%;
    height: 100px;
    float: left;
    /*background-color: #f1f441;*/
}
/*END header fragment*/
/*BEGIN Search Block */
.searchBlock{
    width: 40%;
    float: left;
    height: 100px;
}


.search {
    width: 80%;
    position: relative;
    margin-left: 5%;
    /*margin-top: 20px;*/
    top: 30%;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #428aff;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #428aff;
}

.searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #428aff;
    background: #428aff;
    text-align: center;
    color: #f1f441;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
/*END Search Block */


/*BEGIN Body Page*/
.bodyPage{
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: #e8e8dc;*/
    /*height: 200px;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;    
}

.gridContainer {
    margin-left: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*background-color: #2196F3;*/
    padding-bottom: 10px;
}
.gridProductItem {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    height: 90%;
    width: 90%;
}

.productThumbnail{
    width: 100%;
}
/*END BodyPage*/

/*BEGIN Footer*/
.footer{
    /*background-color:#c1c1b4; */
    height: 140px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
footer {
    width: 100%;
    display: inline-block;
    margin: 0;
    height: 70px;
    background-color: #999;
}
footer .copyright {
    width: 50%;
    float: left;
}
@media (max-width: 600px) {
    footer .copyright {
        width: 100%;
    }
}
footer .copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
@media (max-width: 600px) {
    footer .copyright p {
        text-align: center;
        padding: 0;
    }
}
footer .social {
    width: 50%;
    float: right;
}
@media (max-width: 600px) {
    footer .social {
        width: 100%;
    }
}
footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}
footer .social a:hover {
    background-color: #222;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

.linked {
    background-color: #1E83AE;
    font-size: 1.2em;
    width: 20%;
}

.face {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 20%;
}

.tweet {
    background-color: #3DACDD;
    font-size: 1.2em;
    width: 20%;
}

.support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
}


/*END Footer*/